@media (max-width: 700px) {
    .matrix-container {
        width: 69%;
    }

    .matrix-container .x-axis {
        left: -15px;
    }

    .matrix-container .y-axis {
        bottom: -15px;
    }

    .matrix-container .x-axis .x-metadata {
        margin-left: -60px;
    }
}


@media (max-width: 360px) {
    .matrix-container {
        width: 90%;
    }

    .matrix-container .x-axis .x-metadata {
        margin-left: -15px;
        rotate: -90deg;
    }
}


@media (max-width: 430px) {
    .priority-zone-c {
        left: 6%;
    }
}